.container {
    display: grid;
    grid-template-columns: 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr;
    grid-template-rows: .20fr .2fr .1fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr 1.0fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    /* justify-items: start;  */
    font: 300 14px Cambria;
}

.Title {
    grid-column: 1 / 11;
    text-align: center;
    background-color: #ffb41c;
}

.Reference {
    grid-column: 1 / 11;
    text-align: center;
}

.Input-Header {
    grid-area: 3 / 1 / 4 / 4;
    padding-top: 20px;
    background-color: #ffb41c;
    text-align: center;
}

.Input-Names {
    grid-area: 4 / 1 / 7 / 2;
    padding-top: 20px;
    background-color: #ffb41c;
    text-align: left;
    padding-left: 10px;
}

.Input-Values {
    grid-area: 4 / 2 / 7 / 4;
    padding-top: 10px;
    background-color: #ffb41c
}

.Output-Header {
    grid-area: 3 / 5 / 4 / 11;
    padding-top: 20px;
    background-color: #ffb41c;
    text-align: center;
}

.Output-Names {
    grid-area: 4 / 5 / 5 / 7;
    background-color: #ffb41c;
    text-align: left;
    padding-left: 20px;
}

.Output-Values {
    grid-area: 4 / 7 / 5 / 10;
    background-color: #ffb41c
}

.Result-Image {
    grid-area: 5 / 5 / 12 / 11;
}

.Input-Image {
    grid-area: 7 / 1 / 12 / 4;
}

input[type=text] {
    display: block;
    background-color: gray;
    color: white;
}

.ribbon {
    position: fixed;
    background: #08769b;
    box-shadow: 0 0 0 999px #08769b;
    clip-path: inset(0 -100%);
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: white;
}

.right {
    inset: 0 0 auto auto;
    transform-origin: 0 0;
    transform: translate(29.3%) rotate(45deg);
}